* {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	margin: 0px;
	background: #F6D5FF;

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: sans-serif;
}

#game {
	width: 640px;
	height: 480px;
	background: #ADC0DF;
	border: 2px solid #D5E5FF;
	box-shadow: 0px 0px 250px 25px #E580FF;
	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}
.pb-10 {
	padding-bottom: 10px;
}
.btn {
	min-width: 140px;
	padding: 30px 100px;
	background: #D7F4D7;
	border: 1px solid #87DE87;
	box-sizing: border-box;
	border-radius: 25px;

	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 10px;
	color: #000000;

	cursor: pointer;

	transition: 0.5s;
}
.btn:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
	transition: 0.5s;
}
.btn-refresh {
	min-width: unset;
	width: 100px;
	height: 100px;
	padding: 0px;
	background-image: url("../images/refresh.svg");
	background-repeat: no-repeat;
	background-position: center;

}
.btn-b {
	min-width: unset;
	width: 64px;
	height: 64px;
	padding: 0px;
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45px;
}
.btn-b:hover {
	background-color: #A0FFA0;
	border-color: #87DE87;
	transform: scale(1.05);
}
.btn-b1 {
	background-color: #FFD5D5;
	border-color: #FF8080;
	background-image: url("../images/b1.svg");

}
.btn-b2 {
	background-color: #FFF6D5;
	border: 1px solid #FFDD55;
	background-image: url("../images/b2.svg");
}
.btn-b3 {
	background-color: #F6D5FF;
	border-color: #E580FF;
	background-image: url("../images/b3.svg");
}
.game-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
.game-text {
	display: block;
	margin: 0px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.game-state {
	padding: 30px 25px;
	background: #FFF6D5;
	border: 1px solid #FFDD55;
	border-radius: 25px;
	margin-bottom: 30px;
}
.game-state table td {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.game-state .win {
	color: #87DE87;
}
.game-state .over {
	color: #FF8080;
}
.game-state .win,
.game-state .over {
	padding-left: 35px;
}









.game-action {
	display: flex;
	align-items: center;
}
.game-block {
	width: 100px;
	height: 100px;
	border-radius: 25px;
	background: #9F9F9F;
	border: 1px solid #000000;
	background-image: url("../images/b.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.game-block-1 {
	background-color: #FFD5D5;
	border: 1px solid #FF8080;
	background-image: url("../images/b1.svg");
}
.game-block-2 {
	background-color: #FFF6D5;
	border: 1px solid #FFDD55;
	background-image: url("../images/b2.svg");
}
.game-block-3 {
	background-color: #F6D5FF;
	border: 1px solid #E580FF;
	background-image: url("../images/b3.svg");
}
.game-action-bot {
	width: 100px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	overflow: hidden;
}
.game-action-bot-list {

}
.game-action-center {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-action-center span {
	text-transform: uppercase;
	margin: 0px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
	color: #000000;
}
.game-action-player {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-buttons {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background: #D7F4D7;
	border-radius: 25px 25px 0px 0px;
	width: 340px;
	padding: 10px 30px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
